.row
  .col-lg-8.col-lg-offset-2.centered
    %h1 Welcome to Vegan on campus
    %p This is the new place to find and share vegan options at your educational institution/campus.
    %p= link_to "Click here to see campuses and food currently listed", campuses_path
    %p= image_tag 'http://iitan.net/images/ducks.jpg', class: 'img-circle'
