- content_for :title, 'About'
.row.mt
  .col-lg-6.col-lg-offset-3.centered
    %h3 About
    %hr
    %p Vegan on campus is a new site as of August 2014. 
    %p Hopefully it will become a place where anyone looking for vegan food will be able to find more options than they ordinarily would, and can contribute their own suggestions as well.

    %h4 Current setup
    %p Currently the site provides information only. If you have suggestions or information to contribute please either email tanya@veganoncampus.org, or if you are familiar with web development and Github you can submit changes via https://github.com/minty8880/veganoncampus.

    %h4 Coming soon
    %p User registration so you can submit and manage your own contributions.
    %p Admin site management.
    %p Enhancing the food information.
    %p More campuses!

    %h4 Inspiration
    %p This site was started in response to a conversation on the Sydney Vegan Club's Facebook forum, where several of us shared vegan food finding tips for the University of New South Wales (UNSW). We thought having this information on hand and regularly updated would help more people find vegan food at UNSW, and at the same time show retail outlets that there is a demand for vegan food. After searching online, there didn't seem to be anything comparable already available for us to use.
