- content_for :title, 'About'
.row.mt
  .col-lg-6.col-lg-offset-3.centered
    :markdown
      ### About
      ---
      **Vegan on campus** is a new site as of August 2014. 
      
      Hopefully it will become a place where anyone looking for vegan food will be able to find more options at their campus and contribute their own suggestions.

      Note that the information is mostly anecdotal and sourced by individuals.

      #### Site setup

      Currently the site provides information only, you cannot yet contribute via the site, but this feature will be added soon. In the meantime if you have suggestions or information to contribute please email [veganoncampus@gmail.com](mailto:veganoncampus@gmail.com). Alternatively if you are familiar with web development and Github you can submit changes via [github.com/minty8880/veganoncampus](https://github.com/minty8880/veganoncampus). Please email requesting access along with your Github username so I can add you to the repo.

      #### Coming soon

      User registration so you can submit and manage your own contributions.
      Admin site management.
      Enhancing food information.
      More campuses!

      #### Inspiration

      **Vegan on campus** was started in response to a conversation on the [Sydney Vegan Club](http://www.sydneyveganclub.com.au/) Facebook forum, where several of us shared vegan food finding tips for the [University of New South Wales](http://www.unsw.edu.au/) (UNSW). We thought having this information on hand and regularly updated would help more people find vegan food at UNSW, and at the same time show retail outlets that there is a demand for vegan food.
