- content_for :title, 'Contact'
.row.mt
  .col-lg-6.col-lg-offset-3.centered
    %h3 Contact
    %hr
    %p Email with any questions or if you would like to get involved.
    %p tanya@veganoncampus.org
    %h4 Vegan businesses
    %p I'd like to make this site available for vegan businesses to list their products/services for free. Get in touch if you're interested. 
