- content_for :title, 'Contact'
.row.mt
  .col-lg-6.col-lg-offset-3.centered
    :markdown
      ### Contact
      ---
      Email [veganoncampus@gmail.com](mailto:veganoncampus@gmail.com) with any questions or if you would like to get involved.

      #### Campus retail outlets
      
      If you would like to refine/contribute to your own listings please contact us. Someone can drop past to chat if you like too &#9786;

      #### Vegan businesses

      **Vegan on campus** could be made available in the future for vegan businesses to list their details/products/services. Get in touch if you're interested, and I'll add you to a distribution list to contact later when the site is more established. 
