- content_for :title, 'Join us'
.row.mt
  .col-lg-6.col-lg-offset-3.centered
    %h3 Join us
    %h4 Become a contributor to Vegan on campus
    %p Currently the site is in its infancy, but soon we will be adding functionality to contribute to and manage food lists for your own campus. If you would like to become a contributor please add your details to the below form, and we will let you know when this feature is available!
    = render 'mailchimp_form_contribute'
