- content_for :title, @campus
%h1= @campus

%h2 Outlets
%ul
  - @campus.outlets.each do |outlet|
    %li
      = render partial: 'outlets/detail', locals: { outlet: outlet }
      = render partial: 'foods/list', locals: { foods: outlet.foods }
= render 'contribute_message'

