.row.mt
  .col-lg-6.col-lg-offset-3.centered
    %a.twitter-timeline{"data-widget-id" => "504787882658115585", :href => "https://twitter.com/veganoncampus"} Tweets by @veganoncampus
    %script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
